@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin gradient {
  background: linear-gradient(315deg, $secondary 0%, $third 100%) !important;
}

@mixin info-gradient {
  background-color: $ppmAlto;
  background-image: linear-gradient(62deg, #ffc04b 0%, $ppmAlto 100%);
}
