@media only screen and (min-width: 992px) {
  .room-container {
    zoom: 1.4;
  }
}

.room-container .room {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.room-container .room .room-floor {
  background-color: white;
  transform: rotateX(60deg) rotateY(0deg) rotate(-45deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 200px;
  width: 200px;
  -webkit-transform: rotateX(60deg) rotateY(0deg) rotate(-45deg);
  -moz-transform: rotateX(60deg) rotateY(0deg) rotate(-45deg);
  -ms-transform: rotateX(60deg) rotateY(0deg) rotate(-45deg);
  -o-transform: rotateX(60deg) rotateY(0deg) rotate(-45deg);
}

@media only screen and (min-width: 992px) {
  .room-container .room .room-floor {
    height: 300px;
    width: 300px;
  }
}

.room-container .room .room-grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

.room-container .room .doble {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.room-container .room .iso-element {
  background-color: #ecf0f1;
}

.room-container .room .iso-element .iso-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.room-container .room .iso-element .student-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 0;
  height: 0;
  left: -4px;
  top: 27px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transform: rotate(45deg) rotateX(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) rotateX(-90deg);
  -moz-transform: rotate(45deg) rotateX(-90deg);
  -ms-transform: rotate(45deg) rotateX(-90deg);
  -o-transform: rotate(45deg) rotateX(-90deg);
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -ms-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
}

.room-container .room .iso-element .student-wrapper img {
  max-width: 40px;
  transform: translate(-25%, -100%);
  -webkit-transform: translate(-25%, -100%);
  -moz-transform: translate(-25%, -100%);
  -ms-transform: translate(-25%, -100%);
  -o-transform: translate(-25%, -100%);
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .student-wrapper img {
    max-width: 59px;
  }
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .student-wrapper {
    top: 40px;
  }
}

.room-container .room .iso-element .shelf-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 0;
  height: 0;
  left: 0px;
  top: 15px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transform: rotate(45deg) rotateX(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) rotateX(-90deg);
  -moz-transform: rotate(45deg) rotateX(-90deg);
  -ms-transform: rotate(45deg) rotateX(-90deg);
  -o-transform: rotate(45deg) rotateX(-90deg);
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -ms-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
}

.room-container .room .iso-element .shelf-wrapper img {
  max-width: 36px;
  transform: translate(-25%, -100%);
  -webkit-transform: translate(-25%, -100%);
  -moz-transform: translate(-25%, -100%);
  -ms-transform: translate(-25%, -100%);
  -o-transform: translate(-25%, -100%);
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .shelf-wrapper img {
    max-width: 55px;
  }
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .shelf-wrapper {
    top: 25px;
  }
}

.room-container .room .iso-element .desk-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 0;
  height: 0;
  left: -10px;
  top: 15px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transform: rotate(45deg) rotateX(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) rotateX(-90deg);
  -moz-transform: rotate(45deg) rotateX(-90deg);
  -ms-transform: rotate(45deg) rotateX(-90deg);
  -o-transform: rotate(45deg) rotateX(-90deg);
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -ms-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
}

.room-container .room .iso-element .desk-wrapper img {
  max-width: 55px;
  transform: translate(-25%, -100%);
  -webkit-transform: translate(-25%, -100%);
  -moz-transform: translate(-25%, -100%);
  -ms-transform: translate(-25%, -100%);
  -o-transform: translate(-25%, -100%);
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .desk-wrapper img {
    max-width: 85px;
  }
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .desk-wrapper {
    top: 25px;
    left: -15px;
  }
}

.room-container .room .iso-element .people-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 0;
  height: 0;
  left: 10px;
  top: 40px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transform: rotate(45deg) rotateX(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) rotateX(-90deg);
  -moz-transform: rotate(45deg) rotateX(-90deg);
  -ms-transform: rotate(45deg) rotateX(-90deg);
  -o-transform: rotate(45deg) rotateX(-90deg);
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -ms-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
}

.room-container .room .iso-element .people-wrapper img {
  max-width: 20px;
  transform: translate(-25%, -100%);
  -webkit-transform: translate(-25%, -100%);
  -moz-transform: translate(-25%, -100%);
  -ms-transform: translate(-25%, -100%);
  -o-transform: translate(-25%, -100%);
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .people-wrapper img {
    max-width: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .room-container .room .iso-element .people-wrapper {
    top: 65px;
    left: 15px;
  }
}

.room-container .room .floor-shadow {
  -webkit-box-shadow: -100px 100px 80px rgba(0, 0, 0, 0.07), -41.8px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), -22.34px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), -12.6px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), -6.7px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), -2.8px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: -100px 100px 80px rgba(0, 0, 0, 0.07), -41.8px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), -22.34px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), -12.6px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), -6.7px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), -2.8px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.room-container .room .wall {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  left: 0;
  bottom: 100%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}

.room-container .room .left-wall {
  background: #d9d9d9;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  height: 60px;
  width: 200px;
}

@media only screen and (min-width: 992px) {
  .room-container .room .left-wall {
    height: 80px;
    width: 300px;
  }
}

.room-container .room .right-wall {
  background: #e7e7e7;
  transform: rotate(90deg) rotateX(-90deg);
  -webkit-transform: rotate(90deg) rotateX(-90deg);
  -moz-transform: rotate(90deg) rotateX(-90deg);
  -ms-transform: rotate(90deg) rotateX(-90deg);
  -o-transform: rotate(90deg) rotateX(-90deg);
  height: 60px;
  width: 200px;
  left: 200px;
}

@media only screen and (min-width: 992px) {
  .room-container .room .right-wall {
    height: 80px;
    width: 300px;
    left: 300px;
  }
}

.room-parameters {
  background: #ecf0f1;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  background-color: #ecf0f1;
  color: #727272;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.room-parameters .parameters-header {
  background-color: #ed1b95;
  color: #ecf0f1;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

.room-parameters .parameters-title {
  margin: 0;
  padding: 10px;
}

.controllers-div {
  margin: 15px;
}

.shadow {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.range {
  margin-bottom: 20px;
  height: 80px;
  background-color: #ecf0f1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0 65px 0 45px;
}

.range .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  left: -10%;
}

.range .field .value {
  position: absolute;
  font-size: 1.125rem;
  font-weight: 600;
  color: #727272;
}

.range .field .value.left {
  left: -22px;
}

.range .field .value.right {
  right: -43px;
}

.range .field input {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: #ed1b95;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  border: none;
}

.range .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  background: #ed1b95;
  height: 35px;
  width: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 5px solid #ecf0f1;
  cursor: pointer;
}

.range .slider-value {
  position: relative;
  width: 100%;
}

.range .slider-value span {
  position: absolute;
  color: #727272;
  font-weight: 600;
  left: 100%;
  top: 25px;
  z-index: 2;
}

.wrapper {
  color: #727272;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (min-width: 992px) {
  .wrapper {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    margin-right: 40px;
  }
}

.menu {
  color: #727272;
}

.menu .header-text {
  font-size: 1.125rem;
}

@media only screen and (min-width: 992px) {
  .menu .header-text {
    margin-left: 60px;
    margin-right: 60px;
  }
}
/*# sourceMappingURL=main.css.map */