.wrapper {
  margin-left: 100px;
  margin-right: 100px;
  color: #2c2c2c;
  background-color: #fefeff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(100px auto);
      grid-template-rows: minmax(100px auto);
  gap: 1em;
  min-height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.room {
  background-color: #fefeff;
  border-radius: 20px;
  height: 300px;
  width: 600px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.room-soil {
  background-color: white;
  -webkit-transform: rotateX(60deg) rotateY(0deg) rotate(-45deg);
          transform: rotateX(60deg) rotateY(0deg) rotate(-45deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  position: relative;
  top: 60%;
  left: 10%;
  height: 250px;
  width: 250px;
}

.soil-shadow {
  -webkit-box-shadow: -100px 100px 80px rgba(0, 0, 0, 0.07), -41.8px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), -22.34px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), -12.6px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), -6.7px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), -2.8px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: -100px 100px 80px rgba(0, 0, 0, 0.07), -41.8px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), -22.34px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), -12.6px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), -6.7px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), -2.8px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.wall {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  left: 0;
  bottom: 100%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}

.left-wall {
  background: #d9d9d9;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  height: 80px;
  width: 250px;
}

.right-wall {
  background: #e7e7e7;
  transform: rotate(90deg) rotateX(-90deg);
  -webkit-transform: rotate(90deg) rotateX(-90deg);
  -moz-transform: rotate(90deg) rotateX(-90deg);
  -ms-transform: rotate(90deg) rotateX(-90deg);
  -o-transform: rotate(90deg) rotateX(-90deg);
  height: 80px;
  width: 250px;
  left: 250px;
}

/* .student {
  background-color: $secondary;
  transform: rotate(115deg) skewX(-20deg) skewY(15deg) scale(0.5);
  -webkit-transform: rotate(115deg) skewX(-20deg) skewY(15deg) scale(0.5);
  -moz-transform: rotate(115deg) skewX(-20deg) skewY(15deg) scale(0.5);
  -ms-transform: rotate(115deg) skewX(-20deg) skewY(15deg) scale(0.5);
  -o-transform: rotate(115deg) skewX(-20deg) skewY(15deg) scale(0.5);
} */
/*# sourceMappingURL=main.css.map */