@import "./sass/room";
@import "./sass/parameters";

.wrapper {
  color: $text;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;

  @include desktop {
    grid-template-columns: 2fr 1fr;
    margin-right: 40px;
  }

  @include large {
    margin-right: 100px;
  }
}
