@import "./sass/room";
@import "./sass/parameters";

.wrapper {
  color: $text;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;

  @include desktop {
    grid-template-columns: 2fr 1fr;
    margin-right: 40px;
  }
}

.menu {
  color: $text;

  .header-text {
    font-size: 1.125rem;

    @include desktop {
      margin-left: 60px;
      margin-right: 60px;
    }
  }
}
