.results-card {
  z-index: 2;
  background: $primary;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  background-color: $primary;
  color: $text;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 30px;

  .results-header {
    z-index: 3;
    @include gradient;
    color: $primary;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  .results-footer {
    z-index: 3;
    @include info-gradient();
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

    .info-text {
      color: $text;
      font-size: 1.125rem;
      padding: 10px;

      @include desktop {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .results-title {
    margin: 0;
    padding: 10px;
  }

  .results-wrapper {
    color: $text;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @include desktop {
      grid-template-columns: 2fr 1fr;
    }

    .sensor-div {
      margin-top: 50px;
      padding: 30px;

      @include desktop {
        padding: 50px;
      }

      .sensor-img {
        width: 250px;

        @include desktop {
          width: 250px;
        }
      }
    }
  }

  .ppmOK {
    color: $ppmOK;
  }

  .ppmAlto {
    color: $ppmAlto;
  }

  .ppmPeligro {
    color: $ppmPeligro;
  }

  .results-subtitle {
    font-size: 0.875rem;
    margin-bottom: 0;
    @include desktop {
      margin-top: 15px;
    }
  }

  .results-def {
    font-size: 0.875rem;
    margin-bottom: 0;
    @include desktop {
      margin-top: 5px;
    }
  }

  .results-ppm {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;

    @include desktop {
      font-size: 5rem;
      padding-bottom: 5px;
    }
  }

  .ppm-card {
    z-index: 2;
    background: $primary;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    background-color: $primary;
    color: $text;
    margin: 0;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 15px;

    @include desktop {
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 10px;
      padding-top: 1px;
      padding-bottom: 10px;
    }
  }

  .screen-result {
    position: relative;
    font-size: 0.875rem;
    left: 150px;
    color: $primary;
    top: -190px;

    @include desktop {
      font-size: 0.875rem;
      left: 0;
      top: 65px;
    }
  }

  @include desktop {
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
